@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../../node_modules/nes.css/css/nes.css";

body {
  color-scheme: dark light;
  color: CanvasText;
  background-color: Canvas;
}

img { 
  image-rendering: pixelated;
}