@tailwind base;
@tailwind components;
@tailwind utilities;
/* https://nostalgic-css.github.io/NES.css/ */
@import "../../node_modules/nes.css/css/nes.css";
@import url('./fonts.css');

body {
  color-scheme: dark light;
  color: CanvasText;
  background-color: Canvas;
}

img {
  image-rendering: pixelated;
}

h1 {
  font-family: "pokemon-solid";
  color: #fbc904;
  text-shadow: -5px 0 #385aa4, 0 5px #385aa4, 5px 0 #385aa4, 0 -5px #385aa4;
  letter-spacing: 0.65rem;
}