@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../../node_modules/nes.css/css/nes.css";

/* https://nostalgic-css.github.io/NES.css/ */

@font-face {
  font-family: "pokemon-hollow";
  src: url('./fonts/pokemon-hollow.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pokemon-solid";
  src: url('./fonts/pokemon-solid.woff');
  font-weight: normal;
  font-style: normal;
}

body {
  color-scheme: dark light;
  color: CanvasText;
  background-color: Canvas;
}

img {
  image-rendering: pixelated;
}

h1 {
  font-family: "pokemon-solid";
  color: #fbc904;
  text-shadow: -5px 0 #385aa4, 0 5px #385aa4, 5px 0 #385aa4, 0 -5px #385aa4;
  letter-spacing: 0.65rem;
}